/* Write your CSS code here */
.list-item-container {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 20px;
  width: 20px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.values-container {
  display: flex;
}

.usd-value {
  margin-right: 20px;
}

.euro-value {
  margin-right: 20px;
  margin-left: 20px;
}
